.container{
    margin-top: -5px !important;
}

.row{
    padding: 10px;
}

.card-title{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.trabajos{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}