<div class="container mt-4">
    <div class="card mb-3" style="max-width: 70rem;">
        <div class="row g-0 ">
            <div class="col-md-4 ">
                <img src="https://cdn-icons-png.flaticon.com/512/3447/3447560.png" class="img-fluid rounded-start"
                    style="padding: 20px; ">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Contactame</h5>

                    <form  [formGroup]="formLogin" (submit)="send()">
                        <div class="mb-3">
                            <label class="form-label">Nombre:</label>
                            <input type="text"  id="nombre" formControlName="nombre" class="form-control" placeholder="Ingrese nombre">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email:</label>
                            <input type="email" class="form-control" placeholder="Ingrese email" id="email" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mensaje:</label>
                            <textarea class="form-control" rows="4" id="mensaje" formControlName="mensaje" style="resize: none;" > </textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-block mx-auto px-5">Enviar</button>
                        </div>
                    </form>
                    <div *ngIf="aceptado == true"  class="bg-success text-white aceptar">
                        Todos los datos son validos
                    </div> 
                    <div *ngIf="rechazado == true"  class="bg-danger text-white rechazar">
                        Datos incorrectos
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>